

body{

    background-color: #FEFCF9;
    color: #C1272D;
    font-family: 'Carter One', cursive;
    margin: 0px;
    padding: 0px;
}

.logoheader {text-align: center;
              width: 150px;
            margin: auto;
            padding: 10px}

.logoalbum { width: 100%; }

.contenedorimagenbanner { width: 55%;
                          margin: auto;}
.fotobanner { width: 100%; }

.contenedortitulollegorosalia { 

margin: auto;
text-align: center;
font-size: 50px;

}

.Participaparaconocerla { margin: 50px;
                        margin-bottom: 0px;
                          padding: 0px; 
                        font-size: 30px;}
                          

.contenedorformulario { 

border:  #C1272D;
border-style: solid;
border-width: 6px;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
margin-top: 0px !important;
margin: 20px;
width: 40%;

}

.formulario {

margin: 10px;

}

.titulosformulario { 

    padding: 0px;
    margin: 0px;
 }

 .contedordevideo { margin: 50px; 
                    text-align: center;}



.sliderproductos { flex-flow: wrap; width: 30%;}
.slider { width: 250px; }
.fotovinilo{width: 100%;}

.video { margin-left: 100px;

}

.titulovideo { margin-left: 100px;
margin-top: 120px; }